                <!--NavbarAccordian Start-->
                <div class="card-header collapsed" data-toggle="collapse" href="#collapseThree">
                  <a class="card-title">
                    Active Projects
                  </a>
                </div>
                <div id="collapseThree" class="card-body collapse show" data-parent="#accordion">
                  <!--Navbar Item Start-->
                  <ul>
                      <li  *ngFor="let project of activeProjects">
                          <a routerLink="/project/{{ project.id }}">{{ project.name }}</a>
                        </li>
                  </ul>
                  <!--Navbar Item End-->
                </div>
                <!--Navbar Accordian End-->

                <!--Navbar Accordian Start-->
                <div class="card-header collapsed" data-toggle="collapse" href="#collapseFour">
                  <a class="card-title">
                    Completed Projects
                  </a>
                </div>
                <div id="collapseFour" class="card-body collapse" data-parent="#accordion">
                  <!--Navbar Item Start-->
                  <ul>
                      <li  *ngFor="let project of completedProjects">
                          <a routerLink="/project/{{ project.id }}">{{ project.name }}</a>
                        </li>
                  </ul>
                  <!--Navbar Item End-->
                </div>
                <!--Navbar Accordian End-->
